.filmCard {
  width: 280px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filmCover {
  position: relative;
  width: 100%;
  height: 398px;
  border-radius: 5px;
}

.Info {
  display: flex;
  flex-direction: column;
}

.filmTitle {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 0.83;
  padding: 15px;
}

.filmOverview {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.filmInfoMore {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  background-color: #8ddfff;
}

.btnBack {
  font-size: 20px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .filmCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 704px;
  }

  .filmCover {
    width: 100%;
    height: 478px;
  }

  .filmInfoMore {
    align-items: flex-end;
    margin-top: 20px;
  }
}
